/* Importation des polices */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Définition des variables CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    /* font-family: 'Montserrat', Courier, monospace; */
}

body{
    background-color: #ebecf0;
    font-size: 1rem;
}

.main{
    width: 210mm;
    height: 297mm;
    background-color: white;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}
.partie-gauche{
    background-color: #f4f4f4;
    width: 40%;
    height: 100%;
    padding: 2.8rem;
}

.partie-gauche .photo-conteneur{
    margin-bottom: 2.2rem;
}

.partie-gauche .photo-conteneur img{
    width: 100%;
    height: 100%;
border-radius:50%;
border: 1rem solid white;
}

.titre{
    font-family: 'Roboto', sans-serif;
    font-size:0.8rem;
    text-transform: uppercase;
    padding: 0.3rem;
    background-color: #444440;
    color: white;
    border-radius: 1rem;
    text-align: center;
    margin: 1.4rem 0;
}
.icon-conteneur img{
    width: 1.2rem;
    height: 1.2rem;
}
.contact-conteneur{
    margin-bottom: 2.2rem;
    font-family: "Roboto";
}

 .contact-conteneur .contact-list{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    color: #444440;
    font-size: 0.8rem;
}


.formation-conteneur {
    margin: 2rem 0;
    font-family: 'Roboto', sans-serif;
}

.formation-conteneur .cours{
    margin-bottom: 1rem;
    color: #414042;
}

.formation-conteneur .formation-titre{
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: .3rem;
}

.formation-conteneur  .nom-college{
    margin-bottom: 0.3rem;
    font-weight: 600;
    
    
}

.formation-conteneur .formation-date{
    font-size: 0.8rem;
    
}

.langue-conteneur .langue{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    font-family: "Roboto", sans-serif;
}

.langue-conteneur .langue .form{
    background-color: #bbbbbb;
    width: 4rem;
    height: 0.5rem;
    border-radius: 1rem;
}

.langue-conteneur .langue .bar{
    background-color: #3d3d3d;
    height: 100%;

    border-radius: 1rem;
}

.partie-droite{
    padding: 5rem 2.2rem;
    color: #555555;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    line-height: 1.3em;
}

.partie-droite .banner .prenom{
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: #555555;

}

.banner P{
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.partie-droite .banner .nom{
    font-size: 3rem;
    color: #555555;
    margin-bottom: 0.5rem;
}
.tiret{
    margin-top: 1rem;
    background-color: #555555;
    width: 100%;
    height: 0.2rem;
    margin-bottom: 1rem;

}
 .experience{
    font-size: 1.3rem;

}

.right{
    margin: 3rem;
}
.left{
    margin: 3rem;
}

.langage-conteneur {
    display: flex;
    margin-top: 1rem;
    
}
 .oblique-bar{
    margin-right: 1rem;
    border: 1px solid #555555 ;
    width: 0.7rem;
    height: 5rem;
    border-radius: 1rem;
    
    
}
.element-langage{
    margin-top: -0.3rem;
}

.les-points{
    background-color: #555555;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}

.langage{
    margin-top: 0.5rem;

}

.mon-experience .cont-lang{ 
       display: flex;
}


.texte-information{
    margin-bottom: 1rem;
}
.h5{
    font-size: 0.8rem;
    display: flex;
}
.h5 .les-points{
    margin-right: 1rem;
}
#cpigCompetence{
    margin-left: 2rem;
}
#realisation{
    margin-left: 2rem;
}